// FONT

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Sedgwick+Ave&display=swap');

$header-font: 'Sedgwick Ave', cursive;
$body-font: 'Raleway', sans-serif;

$fs-base-small: 14px;
$fs-base-normal: 16px;

$fw-normal: 400;
$fw-semibold: 600;

$h1-fs: 2.5rem;
$h2-fs: 2rem;
$h3-fs: 1.5rem;
$h4-fs: 1.25rem;

$small-fs: 0.875rem;
$normal-fs: 1rem;
$large-fs: 1.125rem;
