// FONT

$header-font: 'Sedgwick Ave', cursive;
$body-font: 'Raleway', sans-serif;

$fs-base-small: 14px;
$fs-base-normal: 16px;

$fw-normal: 400;
$fw-semibold: 600;

$h1-fs: 2.5rem;
$h2-fs: 2rem;
$h3-fs: 1.5rem;
$h4-fs: 1.25rem;

$small-fs: 0.875rem;
$normal-fs: 1rem;
$large-fs: 1.125rem;

// COLORS

$c-red: #d02a27;
$c-black: #1a1717;
$c-white: #fbfbfb;
$c-grey: #b2b2b2;

$c-button-bg: $c-red;
$c-button-hover-bg: scale-color($c-button-bg, $lightness: -20%);
$c-button-text: $c-white;

$c-icon-bg: $c-grey;
$c-icon-hover-bg: $c-red;

// SIZES

:root {
	--spacing: 20px;
}
